#flex_container{
    display:flex;
}

#articles_list{
    width: 85%;
}

#visited_list{
    width: 15%;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    vertical-align: top ;
}

input, textarea {
    width: 250px;
    margin-left: 10px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    margin-left: 270px;
}

form {
    width: 400px;
    margin: 0 auto;
}